In [1]:
import pandas
from libs import open_file, replace_symbol, sql_tokenizer,keys
import libs

In [2]:
xss_payloads = open_file('XSS-Payloads/payload.txt','xss')
xss_payloads.to_csv('csv_files/xss_safe_sql.csv',header=True,mode='a')
xss_payloads.head(10)

                                                text label
0  LT script GT alert LPRN INT RPRN SMCLN LT SLSH...   xss
1  LT script GT alert LPRN DQUT xss DQUT RPRN SMC...   xss
2  LT script GT alert LPRN INT RPRN LT SLSH scrip...   xss
3  LT script GT alert LPRN DQUT hellox worldss DQ...   xss
4  LT script GT alert LPRN RQUT xss” RPRN LT SLSH...   xss
5  LT script GT alert LPRN RQUT xss” RPRN SMCLN L...   xss
6  LT script GT alert LPRN ‘xss’ RPRN LT SLSH scr...   xss
7  RQUT GT LT script GT alert LPRN RQUT xss” RPRN...   xss
8  LT script GT alert LPRN SLSH xss” RPRN LT SLSH...   xss
9  LT script GT alert LPRN SLSH xss SLSH RPRN LT ...   xss

In [3]:
safe = open_file("safe.txt",'safe', limit=200)
safe.to_csv('csv_files/xss_safe_sql.csv',header=True, mode='a')
safe.head(10)

                                                text label
0  bromwell high IS A cartoon comedy DOT it ran A...  safe
1  story OF A man who has unnatural feelings FOR ...  safe
2  homelessness OR houselessness AS george carlin...  safe
3  airport starts AS A brand NEW luxury plane IS ...  safe
4  brilliant OVER acting BY lesley ann warren DOT...  safe
5  this film lacked something i couldn T put my f...  safe
6  this IS easily the most underrated film inn th...  safe
7  sorry everyone i know this IS supposed TO be a...  safe
8  this IS NOT the typical mel brooks film DOT it...  safe
9  WHEN i was little my parents took me along TO ...  safe

In [4]:
import glob

In [5]:

sql_dirs = glob.glob("sql-injection-payload-list/*/*/*/*")
for dirc in sql_dirs:
    data = open_file(dirc,'sql')
    data.to_csv('csv_files/xss_safe_sql.csv',mode='a',header=False)

In [7]:
xx = pandas.read_csv('csv_files/xss_safe_sql.csv')

In [8]:
xx.head(len(xx))

      Unnamed: 0                                               text label
0            0.0  LT script GT alert LPRN INT RPRN SMCLN LT SLSH...   xss
1            1.0  LT script GT alert LPRN DQUT xss DQUT RPRN SMC...   xss
2            2.0  LT script GT alert LPRN INT RPRN LT SLSH scrip...   xss
3            3.0  LT script GT alert LPRN DQUT hellox worldss DQ...   xss
4            4.0  LT script GT alert LPRN RQUT xss” RPRN LT SLSH...   xss
5            5.0  LT script GT alert LPRN RQUT xss” RPRN SMCLN L...   xss
6            6.0  LT script GT alert LPRN ‘xss’ RPRN LT SLSH scr...   xss
7            7.0  RQUT GT LT script GT alert LPRN RQUT xss” RPRN...   xss
8            8.0  LT script GT alert LPRN SLSH xss” RPRN LT SLSH...   xss
9            9.0  LT script GT alert LPRN SLSH xss SLSH RPRN LT ...   xss
10          10.0  LT SLSH script GT LT script GT alert LPRN INT ...   xss
11          11.0                  ‘ SMCLN alert LPRN INT RPRN SMCLN   xss
12          12.0         ‘ RPRN alert LPRN INT RPRN SMCLN SLSH SLSH   xss
13          13.0  LT script GT alert LPRN INT RPRN LT SLSH scrip...   xss
14          14.0  LT img src EQ javascript CLN alert LPRN ‘xss’ ...   xss
15          15.0  LT img src EQ ”javascript CLN alert LPRN ‘xss’...   xss
16          16.0  LT img src EQ javascript CLN alert LPRN BITAND...   xss
17          17.0  LT img src EQ javascript CLN alert LPRN ‘xss’ ...   xss
18          18.0  LT img src EQ xss onerror EQ alert LPRN INT RP...   xss
19          19.0                                                NaN   xss
20          20.0                                                NaN   xss
21          21.0  LT iframe PRCNT INT src EQ DQUT BITAND tab SMC...   xss
22          22.0                                                NaN   xss
23          23.0  LT svg GT LT STYLE GT LCBR font MINUS FAMILY B...   xss
24          24.0                                                NaN   xss
25          25.0  LT INPUT SLSH onmouseover EQ DQUT javascript B...   xss
26          26.0                                                NaN   xss
27          27.0  LT svg GT LT script PRCNT INT GT alert BITAND ...   xss
28          28.0                                                NaN   xss
29          29.0  LT img SLSH src EQ REMOVE PRCNT INT REMOVE one...   xss
...          ...                                                ...   ...
2652        15.0  RPRN RPRN RPRN AND INT EQ benchmark LPRN INT C...   sql
2653        16.0  RPRN RPRN RPRN AND INT EQ benchmark LPRN INT C...   sql
2654        17.0  RPRN RPRN RPRN AND INT EQ benchmark LPRN INT C...   sql
2655        18.0  RPRN RPRN RPRN RPRN AND INT EQ benchmark LPRN ...   sql
2656        19.0  RPRN RPRN RPRN RPRN AND INT EQ benchmark LPRN ...   sql
2657        20.0  RPRN RPRN RPRN RPRN AND INT EQ benchmark LPRN ...   sql
2658        21.0  SQUT RPRN AND INT EQ benchmark LPRN INT CMMA m...   sql
2659        22.0  SQUT RPRN AND INT EQ benchmark LPRN INT CMMA m...   sql
2660        23.0  SQUT RPRN AND INT EQ benchmark LPRN INT CMMA m...   sql
2661        24.0  DQUT RPRN AND INT EQ benchmark LPRN INT CMMA m...   sql
2662        25.0  DQUT RPRN AND INT EQ benchmark LPRN INT CMMA m...   sql
2663        26.0  DQUT RPRN AND INT EQ benchmark LPRN INT CMMA m...   sql
2664        27.0  SQUT RPRN RPRN AND INT EQ benchmark LPRN INT C...   sql
2665        28.0  SQUT RPRN RPRN AND INT EQ benchmark LPRN INT C...   sql
2666        29.0  SQUT RPRN RPRN AND INT EQ benchmark LPRN INT C...   sql
2667        30.0  DQUT RPRN RPRN AND INT EQ benchmark LPRN INT C...   sql
2668        31.0  DQUT RPRN RPRN AND INT EQ benchmark LPRN INT C...   sql
2669        32.0  DQUT RPRN RPRN AND INT EQ benchmark LPRN INT C...   sql
2670        33.0  SQUT RPRN RPRN RPRN AND INT EQ benchmark LPRN ...   sql
2671        34.0  SQUT RPRN RPRN RPRN AND INT EQ benchmark LPRN ...   sql
2672        35.0  SQUT RPRN RPRN RPRN AND INT EQ benchmark LPRN ...   sql
2673        36.0  DQUT RPRN RPRN RPRN AND INT EQ benchmark LPRN ...   sql
2674        37.0  DQUT RPRN RPRN RPRN AND INT EQ benchmark LPRN ...   sql
2675        38.0  DQUT RPRN RPRN RPRN AND INT EQ benchmark LPRN ...   sql
2676        39.0  SQUT RPRN RPRN RPRN RPRN AND INT EQ benchmark ...   sql
2677        40.0  SQUT RPRN RPRN RPRN RPRN AND INT EQ benchmark ...   sql
2678        41.0  SQUT RPRN RPRN RPRN RPRN AND INT EQ benchmark ...   sql
2679        42.0  DQUT RPRN RPRN RPRN RPRN AND INT EQ benchmark ...   sql
2680        43.0  DQUT RPRN RPRN RPRN RPRN AND INT EQ benchmark ...   sql
2681        44.0  DQUT RPRN RPRN RPRN RPRN AND INT EQ benchmark ...   sql

[2682 rows x 3 columns]

In [9]:
xx.columns['label' == 'sql']

array([], shape=(0, 3), dtype=object)

In [10]:
query = "SELECT * FROM products WHERE prod_id = 24 OR 'DEF' > CoNcAt(ChAr(0x41),cHaR(0x42), chAr(0x43));#"

In [11]:
query = """create table myfile (line varchar(8000))" bulk insert foo from 'c:\inetpub\wwwroot\auth.aspâ'" select * from myfile"--"""
sql_tokenizer(query)

'CREATE TABLE myfile LPRN line VARCHAR LPRN INT RPRN RPRN DQUT bulk INSERT foo FROM SQUT C CLN BSLSH inetpub BSLSH wwwroot\x07uth DOT aspâ SQUT DQUT SELECT STAR FROM myfile DQUT MINUS MINUS'

In [12]:
xx = []
for lists in libs.all_vocabs:
    xx = xx + lists
len(xx)

2681

In [13]:
vocab = []
for sent in xx:
    for word in sent.split(" "):
        if len(word)>0 and word not in vocab:
            vocab.append(word)
len(vocab)

20382

In [14]:
import random

In [13]:
random.shuffle(vocab)

In [14]:
word2index = {}
for i, word in enumerate(vocab):
    word2index[word] = i

In [15]:
len(word2index)

760

In [16]:
import pickle

In [17]:
with open('tokenizer.p', 'wb') as fp:
    pickle.dump(word2index, fp, protocol=pickle.HIGHEST_PROTOCOL)

In [18]:
def custom_tokenizer(sentence):
    with open('tokenizer.p', 'rb') as fp:
        data = pickle.load(fp)
    sent = sentence.strip().split(" ")
    tokenized = []
    for word in sent:
        if len(word) > 0:
            try:
                index = data[word]
                tokenized.append(index)
            except:
                pass
    return tokenized

In [19]:
query = "create table myfile (input TEXT); load data infile '<filepath>' into table myfile; select * from myfile;"
custom_tokenizer(sql_tokenizer(query))

[627,
 413,
 693,
 322,
 180,
 697,
 508,
 358,
 111,
 742,
 434,
 238,
 500,
 48,
 490,
 238,
 580,
 413,
 693,
 358,
 559,
 269,
 622,
 693,
 358]

In [6]:
f = open("XSS-Payloads/payload.txt")
txt = f.readlines()
print(len(txt))
f.close()

525

In [8]:
dd = pandas.concat([pandas.read_csv('TRAIN_DATA/safe.csv'),pandas.read_csv("TRAIN_DATA/sql.csv"),pandas.read_csv("TRAIN_DATA/xss.csv")])

c:\users\dell\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [14]:
for row in dd.iterrows():
    print(row)
    break

(0, 0                                                                  NaN
SMCLN MINUS MINUS                                                  NaN
Unnamed: 0                                                           0
label                                                             safe
sql                                                                NaN
text                 bromwell high IS A cartoon comedy DOT it ran A...
Name: 0, dtype: object)