In [1]:
import pandas
from libs import open_file, replace_symbol, sql_tokenizer,keys
import libs

In [2]:
xss_payloads = open_file('datasets/XSS-Payloads/payload.txt','xss')
xss_payloads.to_csv('csv_files/safe_xss_sql.csv',header=True,mode='a')
xss_payloads.head(10)

                                                text label
0  LT script GT alert LPRN INT RPRN SMCLN LT SLSH...   xss
1  LT script GT alert LPRN DQUT xss DQUT RPRN SMC...   xss
2  LT script GT alert LPRN INT RPRN LT SLSH scrip...   xss
3  LT script GT alert LPRN DQUT hellox worldss DQ...   xss
4  LT script GT alert LPRN RQUT xss” RPRN LT SLSH...   xss
5  LT script GT alert LPRN RQUT xss” RPRN SMCLN L...   xss
6  LT script GT alert LPRN ‘xss’ RPRN LT SLSH scr...   xss
7  RQUT GT LT script GT alert LPRN RQUT xss” RPRN...   xss
8  LT script GT alert LPRN SLSH xss” RPRN LT SLSH...   xss
9  LT script GT alert LPRN SLSH xss SLSH RPRN LT ...   xss

In [3]:
len(xss_payloads)

525

In [4]:
safe = open_file("datasets/safe.txt","Safe", limit=700)
safe.to_csv('csv_files/safe_xss_sql.csv',header=True, mode='a')
safe.head(10)

                                                text label
0  bromwell high IS A cartoon comedy DOT it ran A...  Safe
1  story OF A man who has unnatural feelings FOR ...  Safe
2  homelessness OR houselessness AS george carlin...  Safe
3  airport starts AS A brand NEW luxury plane IS ...  Safe
4  brilliant OVER acting BY lesley ann warren DOT...  Safe
5  this film lacked something i couldn T put my f...  Safe
6  this IS easily the most underrated film inn th...  Safe
7  sorry everyone i know this IS supposed TO be a...  Safe
8  this IS NOT the typical mel brooks film DOT it...  Safe
9  WHEN i was little my parents took me along TO ...  Safe

In [5]:
len(safe)

700

In [6]:
import glob

In [7]:

sql_dirs = glob.glob("datasets/sql-injection-payload-list/*/*/*/*")
for dirc in sql_dirs:
    data = open_file(dirc,'injection')
    data.to_csv('csv_files/safe_xss_sql.csv',mode='a',header=False)

In [8]:
xx = pandas.read_csv('csv_files/sql.csv')

In [9]:
len(xx)

655

In [10]:
xx.columns['label' == 'sql']

array([], shape=(0, 3), dtype=object)

In [11]:
query = "SELECT * FROM products WHERE prod_id = 24 OR 'DEF' > CoNcAt(ChAr(0x41),cHaR(0x42), chAr(0x43));#"

In [12]:
query = """create table myfile (line varchar(8000))" bulk insert foo from 'c:\inetpub\wwwroot\auth.aspâ'" select * from myfile"--"""
sql_tokenizer(query)

'CREATE TABLE myfile LPRN line VARCHAR LPRN INT RPRN RPRN DQUT bulk INSERT foo FROM SQUT C CLN BSLSH inetpub BSLSH wwwroot\x07uth DOT aspâ SQUT DQUT SELECT STAR FROM myfile DQUT MINUS MINUS'

In [13]:
xx = []
for lists in libs.all_vocabs:
    xx = xx + lists
len(xx)

1881

In [14]:
vocab = []
for sent in xx:
    for word in sent.split(" "):
        if len(word)>0 and word not in vocab:
            vocab.append(word)
len(vocab)

13910

In [15]:
import random

In [16]:
random.shuffle(vocab)

In [17]:
word2index = {}
for i, word in enumerate(vocab):
    word2index[word] = i

In [18]:
len(word2index)

13910

In [19]:
import pickle

In [20]:
with open('tokenizer.p', 'wb') as fp:
    pickle.dump(word2index, fp, protocol=pickle.HIGHEST_PROTOCOL)

In [21]:
def custom_tokenizer(sentence):
    with open('tokenizer.p', 'rb') as fp:
        data = pickle.load(fp)
    sent = sentence.strip().split(" ")
    tokenized = []
    for word in sent:
        if len(word) > 0:
            try:
                index = data[word]
                tokenized.append(index)
            except:
                pass
    return tokenized

In [22]:
query = "create table myfile (input TEXT); load data infile '<filepath>' into table myfile; select * from myfile;"
custom_tokenizer(sql_tokenizer(query))

[7980,
 5051,
 13417,
 13415,
 9736,
 6608,
 1561,
 9215,
 1757,
 3260,
 5386,
 7168,
 11819,
 6111,
 7590,
 7168,
 5517,
 5051,
 13417,
 9215,
 3292,
 6818,
 6193,
 13417,
 9215]

In [23]:
f = open("XSS-Payloads/payload.txt")
txt = f.readlines()
print(len(txt))
f.close()

FileNotFoundError: [Errno 2] No such file or directory: 'XSS-Payloads/payload.txt'

In [ ]:
dd = pandas.concat([pandas.read_csv('TRAIN_DATA/safe.csv'),pandas.read_csv("TRAIN_DATA/sql.csv"),pandas.read_csv("TRAIN_DATA/xss.csv")])

In [ ]:
for row in dd.iterrows():
    print(row)
    break