In [1]:
import pandas
from libs import open_file, replace_symbol, sql_tokenizer,keys
import libs

In [22]:
xss_payloads = open_file('XSS-Payloads/payload.txt','xss')
xss_payloads.to_csv('csv_files/xss.csv',header=True,mode='a')
xss_payloads.head(10)

                                                text label
0  LT script GT alert LPRN INT RPRN SMCLN LT SLSH...   xss
1  LT script GT alert LPRN DQUT xss DQUT RPRN SMC...   xss
2  LT script GT alert LPRN INT RPRN LT SLSH scrip...   xss
3  LT script GT alert LPRN DQUT hellox worldss DQ...   xss
4  LT script GT alert LPRN RQUT xss” RPRN LT SLSH...   xss
5  LT script GT alert LPRN RQUT xss” RPRN SMCLN L...   xss
6  LT script GT alert LPRN ‘xss’ RPRN LT SLSH scr...   xss
7  RQUT GT LT script GT alert LPRN RQUT xss” RPRN...   xss
8  LT script GT alert LPRN SLSH xss” RPRN LT SLSH...   xss
9  LT script GT alert LPRN SLSH xss SLSH RPRN LT ...   xss

In [17]:
safe = open_file("safe.txt",'safe', limit=1500)
safe.to_csv('csv_files/xss.csv',header=True, mode='a')
safe.head(10)

                                                text label
0  bromwell high IS A cartoon comedy DOT it ran A...  safe
1  story OF A man who has unnatural feelings FOR ...  safe
2  homelessness OR houselessness AS george carlin...  safe
3  airport starts AS A brand NEW luxury plane IS ...  safe
4  brilliant OVER acting BY lesley ann warren DOT...  safe
5  this film lacked something i couldn T put my f...  safe
6  this IS easily the most underrated film inn th...  safe
7  sorry everyone i know this IS supposed TO be a...  safe
8  this IS NOT the typical mel brooks film DOT it...  safe
9  WHEN i was little my parents took me along TO ...  safe

In [18]:
import glob

In [30]:

sql_dirs = glob.glob("sql-injection-payload-list/*/*/*/*")
for dirc in sql_dirs:
    data = open_file(dirc,'sql')
    data.to_csv('csv_files/xss.csv',mode='a',header=False)

In [31]:
xx = pandas.read_csv('csv_files/xss.csv')

In [32]:
xx.head(len(xx))

      Unnamed: 0                                               text label
0              0  LT script GT alert LPRN INT RPRN SMCLN LT SLSH...   xss
1              1  LT script GT alert LPRN DQUT xss DQUT RPRN SMC...   xss
2              2  LT script GT alert LPRN INT RPRN LT SLSH scrip...   xss
3              3  LT script GT alert LPRN DQUT hellox worldss DQ...   xss
4              4  LT script GT alert LPRN RQUT xss” RPRN LT SLSH...   xss
5              5  LT script GT alert LPRN RQUT xss” RPRN SMCLN L...   xss
6              6  LT script GT alert LPRN ‘xss’ RPRN LT SLSH scr...   xss
7              7  RQUT GT LT script GT alert LPRN RQUT xss” RPRN...   xss
8              8  LT script GT alert LPRN SLSH xss” RPRN LT SLSH...   xss
9              9  LT script GT alert LPRN SLSH xss SLSH RPRN LT ...   xss
10            10  LT SLSH script GT LT script GT alert LPRN INT ...   xss
11            11                  ‘ SMCLN alert LPRN INT RPRN SMCLN   xss
12            12         ‘ RPRN alert LPRN INT RPRN SMCLN SLSH SLSH   xss
13            13  LT script GT alert LPRN INT RPRN LT SLSH scrip...   xss
14            14  LT img src EQ javascript CLN alert LPRN ‘xss’ ...   xss
15            15  LT img src EQ ”javascript CLN alert LPRN ‘xss’...   xss
16            16  LT img src EQ javascript CLN alert LPRN BITAND...   xss
17            17  LT img src EQ javascript CLN alert LPRN ‘xss’ ...   xss
18            18  LT img src EQ xss onerror EQ alert LPRN INT RP...   xss
19            19                                                NaN   xss
20            20                                                NaN   xss
21            21  LT iframe PRCNT INT src EQ DQUT BITAND tab SMC...   xss
22            22                                                NaN   xss
23            23  LT svg GT LT STYLE GT LCBR font MINUS FAMILY B...   xss
24            24                                                NaN   xss
25            25  LT INPUT SLSH onmouseover EQ DQUT javascript B...   xss
26            26                                                NaN   xss
27            27  LT svg GT LT script PRCNT INT GT alert BITAND ...   xss
28            28                                                NaN   xss
29            29  LT img SLSH src EQ REMOVE PRCNT INT REMOVE one...   xss
...          ...                                                ...   ...
1151          15  RPRN RPRN RPRN AND INT EQ benchmark LPRN INT C...   sql
1152          16  RPRN RPRN RPRN AND INT EQ benchmark LPRN INT C...   sql
1153          17  RPRN RPRN RPRN AND INT EQ benchmark LPRN INT C...   sql
1154          18  RPRN RPRN RPRN RPRN AND INT EQ benchmark LPRN ...   sql
1155          19  RPRN RPRN RPRN RPRN AND INT EQ benchmark LPRN ...   sql
1156          20  RPRN RPRN RPRN RPRN AND INT EQ benchmark LPRN ...   sql
1157          21  SQUT RPRN AND INT EQ benchmark LPRN INT CMMA m...   sql
1158          22  SQUT RPRN AND INT EQ benchmark LPRN INT CMMA m...   sql
1159          23  SQUT RPRN AND INT EQ benchmark LPRN INT CMMA m...   sql
1160          24  DQUT RPRN AND INT EQ benchmark LPRN INT CMMA m...   sql
1161          25  DQUT RPRN AND INT EQ benchmark LPRN INT CMMA m...   sql
1162          26  DQUT RPRN AND INT EQ benchmark LPRN INT CMMA m...   sql
1163          27  SQUT RPRN RPRN AND INT EQ benchmark LPRN INT C...   sql
1164          28  SQUT RPRN RPRN AND INT EQ benchmark LPRN INT C...   sql
1165          29  SQUT RPRN RPRN AND INT EQ benchmark LPRN INT C...   sql
1166          30  DQUT RPRN RPRN AND INT EQ benchmark LPRN INT C...   sql
1167          31  DQUT RPRN RPRN AND INT EQ benchmark LPRN INT C...   sql
1168          32  DQUT RPRN RPRN AND INT EQ benchmark LPRN INT C...   sql
1169          33  SQUT RPRN RPRN RPRN AND INT EQ benchmark LPRN ...   sql
1170          34  SQUT RPRN RPRN RPRN AND INT EQ benchmark LPRN ...   sql
1171          35  SQUT RPRN RPRN RPRN AND INT EQ benchmark LPRN ...   sql
1172          36  DQUT RPRN RPRN RPRN AND INT EQ benchmark LPRN ...   sql
1173          37  DQUT RPRN RPRN RPRN AND INT EQ benchmark LPRN ...   sql
1174          38  DQUT RPRN RPRN RPRN AND INT EQ benchmark LPRN ...   sql
1175          39  SQUT RPRN RPRN RPRN RPRN AND INT EQ benchmark ...   sql
1176          40  SQUT RPRN RPRN RPRN RPRN AND INT EQ benchmark ...   sql
1177          41  SQUT RPRN RPRN RPRN RPRN AND INT EQ benchmark ...   sql
1178          42  DQUT RPRN RPRN RPRN RPRN AND INT EQ benchmark ...   sql
1179          43  DQUT RPRN RPRN RPRN RPRN AND INT EQ benchmark ...   sql
1180          44  DQUT RPRN RPRN RPRN RPRN AND INT EQ benchmark ...   sql

[1181 rows x 3 columns]

In [29]:
xx.columns['label' == 'sql']

array([], shape=(0, 3), dtype=object)

In [6]:
query = "SELECT * FROM products WHERE prod_id = 24 OR 'DEF' > CoNcAt(ChAr(0x41),cHaR(0x42), chAr(0x43));#"

In [7]:
query = """create table myfile (line varchar(8000))" bulk insert foo from 'c:\inetpub\wwwroot\auth.aspâ'" select * from myfile"--"""
sql_tokenizer(query)

'CREATE TABLE myfile LPRN line VARCHAR LPRN INT RPRN RPRN DQUT bulk INSERT foo FROM SQUT C CLN BSLSH inetpub BSLSH wwwroot\x07uth DOT aspâ SQUT DQUT SELECT STAR FROM myfile DQUT MINUS MINUS'

In [10]:
xx = []
for lists in libs.all_vocabs:
    xx = xx + lists
len(xx)

1181

In [11]:
vocab = []
for sent in xx:
    for word in sent.split(" "):
        if len(word)>0 and word not in vocab:
            vocab.append(word)
len(vocab)

760

In [12]:
import random

In [13]:
random.shuffle(vocab)

In [14]:
word2index = {}
for i, word in enumerate(vocab):
    word2index[word] = i

In [15]:
len(word2index)

760

In [16]:
import pickle

In [17]:
with open('tokenizer.p', 'wb') as fp:
    pickle.dump(word2index, fp, protocol=pickle.HIGHEST_PROTOCOL)

In [18]:
def custom_tokenizer(sentence):
    with open('tokenizer.p', 'rb') as fp:
        data = pickle.load(fp)
    sent = sentence.strip().split(" ")
    tokenized = []
    for word in sent:
        if len(word) > 0:
            try:
                index = data[word]
                tokenized.append(index)
            except:
                pass
    return tokenized

In [19]:
query = "create table myfile (input TEXT); load data infile '<filepath>' into table myfile; select * from myfile;"
custom_tokenizer(sql_tokenizer(query))

[627,
 413,
 693,
 322,
 180,
 697,
 508,
 358,
 111,
 742,
 434,
 238,
 500,
 48,
 490,
 238,
 580,
 413,
 693,
 358,
 559,
 269,
 622,
 693,
 358]

In [6]:
f = open("XSS-Payloads/payload.txt")
txt = f.readlines()
print(len(txt))
f.close()

525

In [8]:
dd = pandas.concat([pandas.read_csv('TRAIN_DATA/safe.csv'),pandas.read_csv("TRAIN_DATA/sql.csv"),pandas.read_csv("TRAIN_DATA/xss.csv")])

c:\users\dell\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [14]:
for row in dd.iterrows():
    print(row)
    break

(0, 0                                                                  NaN
SMCLN MINUS MINUS                                                  NaN
Unnamed: 0                                                           0
label                                                             safe
sql                                                                NaN
text                 bromwell high IS A cartoon comedy DOT it ran A...
Name: 0, dtype: object)