In [1]:
import pandas
from libs import open_file, replace_symbol, sql_tokenizer,keys
import libs

In [2]:
xss = pandas.read_csv("csv_files/xss-v2.csv")
sql = pandas.read_csv("csv_files/sql-v2.csv")
safe = open_file("datasets/safe.txt","safe")

In [3]:
xss["label"] = "xss"
sql["label"] = "sql"
safe["label"] = "safe"

In [4]:
xss=xss.rename(columns={'Sentence': 'text'})
sql=sql.rename(columns={'Query': 'text'})
safe=safe.rename(columns={"text":"text"})

In [5]:
xss['text'] = xss['text'].apply(sql_tokenizer)
sql['text'] = sql['text'].apply(sql_tokenizer)
safe['text'] = safe['text'].apply(sql_tokenizer)

In [6]:
xss.head()

   Unnamed: 0                                               text  Label label
0           0  LT EN_WORD GT LT A EN_WORD EQ DQUT SLSH EN_WOR...      0   xss
1           1  LT EN_WORD EN_WORD EQ DQUT EN_WORD LPRN EN_WOR...      1   xss
2           2  LT SLSH EN_WORD GT LT EN_WORD CLASS EQ DQUT EN...      0   xss
3           3  LT SLSH EN_WORD GT LT EN_WORD CLASS EQ DQUT EN...      0   xss
4           4  LT SLSH EN_WORD GT DOT LT A EN_WORD EQ DQUT SL...      0   xss

In [9]:
# with open('keys/keywords.txt', 'r') as f:
#     keys = {line.strip().upper() for line in f}


# # Load replacements
# replacements = {}
# with open('keys/replace.txt', 'r') as f:
#     for line in f:
#         key, value = line.strip().split("==>")
#         replacements[key.strip()] = value.strip()

# def replace_symbol(word):
#     try:
#         int(word)
#         return "INT"
#     except ValueError:
#         word_list = []
#         for char in word:
#             replacement = replacements.get(char)
#             word_list.append(f" {replacement} " if replacement else char)
#         return "".join(word_list).strip().replace("  ", " ")
        
# def sql_tokenizer(query):
#     query = query.lower()
#     tokenized = ' '.join(map(replace_symbol, query.split()))
#     split = tokenized.split()
#     # print("Missing from keys:", {w.upper() for w in split if w.upper() not in keys})


#     for i, word in enumerate(split):
#         upper = word.upper()
#         if upper in keys:
#             split[i] = upper
#         elif upper in replacements.values():
#             split[i] = upper  # Keep symbolic tokens like LT, GT, STAR
#         else:
#             split[i] = "EN_WORD"

#     return ' '.join(split)


# sql_tokenizer("this is <Script>/int  TEXT select from ' * my name is hema and this is my car")

In [10]:
print(len(xss))
print(len(sql))
print(len(safe))

13686
30919
25000

In [33]:
max_num = 13686
xss_n=xss.head(max_num)
sql_n = sql.head(max_num)
safe_n = safe.head(max_num)

In [34]:
print(len(xss_n))
print(len(sql_n))
print(len(safe_n))

13686
13686
13686

In [35]:
dfs = []
  # Notice the double brackets!

df_list = [xss_n[['text', 'label']],  sql_n[['text', 'label']],safe_n[['text', 'label']]]

In [36]:
combined = pandas.concat(df_list,ignore_index=True)

In [37]:
combined.to_csv("csv_files/dt-v7.csv")